.main-header{
    color: black;
    text-align: center;
    font-family: 'Yantramanav', sans-serif;
    height: 200px;
    background-color: black

}
.main-header-content{
    border: 3px solid red;
    background-color:white; 
    position: relative;
    line-height: 80%;
    width: 500px;
    height: 80px;
    top: 50px;
    margin: 0 auto;

}
.grid-container-full-page{
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 5px;
  width: 100%x;

}
.main-content{
margin-left: 20px;
}
h2{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}
.header-table-page{
  display: grid;
  grid-template-columns: 60% auto;

}
.filterheader{
  display: grid;
  grid-template-columns: 60% auto;


}

.input{
    border: solid red 1px;
    background-color: #f6f6f6;
    border-radius: 5px;
    width: 50%;
    padding: 10px;
}

.inputlogin{
    border: solid red 1px;
    background-color: #f6f6f6;
    border-radius: 5px;
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
}

.inputselect{
    border: solid red 1px;
    background-color: #f6f6f6;
    border-radius: 5px;
    width: 50%;
    padding: 10px;
}
.adduserform ul{
    list-style-type: none;
}
.tablebtn{
    color: white;
    background-color: black;
}

.subbutton{
    font-size: 20px;
    border-radius: 8px;
    border: none;
    width: 20%x
    padding: 6px;
    background-color: red;
    color: white;
    font-family: "Calibri";
    margin: auto;
}
.navbtn{ 
   margin-bottom: 12px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    width: 20%x;
    background-color: red;
    color: white;
    font-family: "Calibri";
}
.main-content ul{
    list-style-type: none;
    margin-left: -22px;
}
.main-content li{
    font-family: "Calibri";
    font-size: 20px;
    font-weight: bold;
    padding: 12px;

}
.loginform ul{
    list-style-type: none;
    margin-bottom: 20px;
}
.menu ul{
    list-style-type: none;
    font-size: 12px;
    color: white;
    margin: auto;
    padding-bottom: 12px;

}
.Open{ 
    background-color: grey;
    color :white;
    padding: -5px;
    border-radius: 200px;
    border: none;}
.Closed{ 
    background-color: grey;
    color :white;}
.In .Progress{
    background-color: grey;
    color :white;
}

.menu{
    background-color: #B4B4B4;
    margin-left: -5px;
}

table.table1 {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 2px solid #000000;
  background-color: #B4B4B4;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.table1 td, table.table1 th {
  border: 1px solid #3D3D3D;
  padding: 3px 2px;
}
table.table1 tbody td {
  font-size: 13px;
  color: #000000;
}
table.table1 tr:nth-child(even) {
  background: #C1C1C1;
}
table.table1 thead {
  background: #000000;
  border-bottom: 3px solid #000000;
}
table.table1 thead th {
  font-size: 15px;
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
  border-left: 2px solid #4A4A4A;
}
table.table1 thead th:first-child {
  border-left: none;
}

table.table1 tfoot {
  font-size: 12px;
  font-weight: bold;
  color: #E6E6E6;
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
  border-top: 1px solid #393939;
}
table.table1 tfoot td {
  font-size: 12px;
}